<div class="container">
  <div class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home Page</a></li>
      <li class="nav-item"><a href="/cart" class="nav-link px-2 text-muted">Shopping cart</a></li>
    </ul>
    <a href="https://github.com/kyrstke" class="nav-link px-2 text-center text-muted">© 2023 Krystian Jakusik</a>
  </div>
</div>